<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>price_low:</strong>
  <%= @event.price_low %>
</p>

<p>
  <strong>price_high:</strong>
  <%= @event.price_high %>
</p>

<p>
  <strong>event_date:</strong>
  <%= @event.event_date %>
</p>

<%= link_to 'Back', events_index_path %>
