

<p id="notice"><%= notice %></p>
<p id="komunikat"><%= flash[:komunikat] %></p>

<%= render "tickets_list", tickets: Ticket.where(event_id: @event.id) %>

<div class="container">

  <h3>Event description</h3>

<p>
  <strong>Artist:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>price_low:</strong>
  <%= @event.price_low %>
</p>

<p>
  <strong>price_high:</strong>
  <%= @event.price_high %>
</p>

<p>
  <strong>event_date:</strong>
  <%= @event.event_date %>
</p>

<%= render "new_ticket", ticket: Ticket.new(:event_id=>@event.id) %>

  <hr>

<button class="btn btn-default">
<%= link_to 'Back', events_path %>
</button>
</div>