<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Aplikacja biletowa "Sadowski Tickets" 🎫
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li>
        <a href="/">Strona główna</a>
      </li>
      <li>
        <%= link_to 'Bilety', tickets_path %>
      </li>
      <li>
        <%= link_to 'Wydarzenia', events_path %>
      </li>

      <li>
        <div class="centered">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'inline-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'inline-link'
            %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'inline-link' %> |
            <%= link_to "Login", new_user_session_path, :class => 'inline-link' %>
          <% end %>
        </div>
      </li>


    </ul>
  </div>
</nav>
