<!DOCTYPE html>
<html>
<head>
  <title>Bilety</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/css/ol.css" type="text/css" >
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/build/ol.js"></script>

  <style>
    .map {
      height: 400px;
      width: 100%;
    }

    .navbar {
      background: #d3cce3 !important; /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #d3cce3, #e9e4f0) !important; /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #d3cce3, #e9e4f0) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    }

    .navbar .navbar-brand {
      font-size: 22px;
      color: black;
    }
  </style>
</head>

<body>

<%= render 'layouts/navigation' %>




<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
